.topbar {
  background: #fff;
}

.topbar__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  padding: 16px 0;
}

.brand__logo {
  height: 70px;
  width: auto;
}

.topbar__meta {
  display: flex;
  align-items: center;
  gap: 60px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}

.meta__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.meta__title {
  font-size: 15px;
  font-weight: 800;
  line-height: 1.1;
}

.meta__sub {
  font-size: 15px;
  color: var(--muted);
  margin-top: 3px;
}

.nav__bar {
  width: min(var(--container));
  margin: 0 auto;
  background: var(--orange);
}

.nav__inner {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 40px;
}

.nav__link {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.4px;
  color: #fff;
  opacity: 0.95;
  padding: 6px 10px;
  transition: opacity 0.2s;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link.is-active {
  color: #000;
  opacity: 1;
}


@media (max-width: 600px) {
  .topbar__row {
    flex-direction: row;
    gap: 15px;
    padding: 10px 0;
    align-items: flex-start;
  }

  .brand__logo {
    height: 90px;
    padding-top: 35px
  }

  .topbar__meta {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .meta {
    gap: 10px;
  }

  .meta__icon {
    width: 30px;
    height: 30px;
  }

  .meta__title {
    font-size: 13px;
  }

  .meta__sub {
    font-size: 12px;
  }

  .nav__bar {
    width: 100%;
    margin: 0;
  }

  .nav__inner {
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;
  }

  .nav__link {
    width: 100%;
    padding: 6px 0;
    text-align: center;
  }
}