.why{
  position: relative;
  background: transparent;
  margin-top: 60px;
  padding: 70px 40;
}

.why::before{
  content:"";
  position:absolute;
  top:30;
  left:50%;
  transform: translateX(-50%);
  width: min(1400px);
  height: 100%;
  background: var(--nav);
}

.why .container{
  position: relative;
  z-index: 1;
}

.why__block{
  display:grid;
  grid-template-columns: 450px 1fr;
  gap: 60px;                 /* ✅ було 34px */
  align-items:center;
  padding: 20px 80px;
}

.why__photo{
  background: transparent;
  transform: translateY(-50px);
}

.why__photo img{
  width:100%;
  height: 600px;
  object-fit: cover;
}

.why__panel{
  color:#fff;
  padding: 10px 10px;
  padding-left: 50px;
}

.why__kicker{
  color:#ffb39a;
  font-size:15px;
  font-weight:1000;
  letter-spacing:.8px;
  margin-bottom:10px;
}

.why__h3{
  font-size: 25px;
  font-weight: 1000;
  line-height: 1.2;
  margin-bottom: 12px;
}

.why__h3 b{
  color:var(--orange);
}

.why__p{
  color: rgba(255,255,255,.72);
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 18px;
}

.why__list{
  display:grid;
  gap: 14px;
}

.whyItem{
  display:grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  align-items:start;
}

.whyItem__icon{
  width:70px;
  height:70px;
  object-fit:contain;
}

.whyItem__title{
  font-size: 15px;
  font-weight: 900;
}

.whyItem__sub{
  font-size: 15px;
  color: rgba(255,255,255,.62);
  margin-top: 2px;
}
