body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

#validationForm {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 0.95em;
}

.form-group input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1em;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #fff;
}

.error {
    border: 2px solid red !important;
    background-color: #ffe6e6 !important;
}

.error-message {
    display: block;
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    height: 1.2em;
}

.form-group button[type="submit"] {
    padding: 15px 30px;
    background-color: #487bb6;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
}

.form-group button[type="submit"]:hover {
    background-color: #4056b6;
}

#validationTable td {
    border: 1px solid #ccc;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 0;
    line-height: 100px;
    font-size: 1.3em;
    position: relative;
}

#validationTable {
    border-collapse: collapse;
    width: 600px;
    max-width: 100%;
    margin: 20px auto;
    user-select: none;
    table-layout: fixed;
}

.target-cell {
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
}

.target-cell:hover {
    cursor: pointer;
    border: 2px solid #000;
}

label[for="colorPicker"] {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

#colorPicker {
    display: block;
    margin: 0 auto 20px;
    width: 60px;
    height: 40px;
    cursor: pointer;
}